{
  "apps": [
    {
      "name": "githubWebHook",
      "script": "./app.js",
      "env": {
        "HOOK_KEY": "secreturlpart",
        "HOOK_REF": "refs/heads/master",
        "HOOK_CWD": "../",
        "HOOK_ACTION": "git pull origin master"
      },
      "env_production": {
        "NODE_ENV": "production"
      }
    }
  ]
}